@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.div-logo{
    display: flex;
    margin-left: 40px;
}

.div-logo h3{
    font-size: 20px;
    color: #cacccc;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.div-logo span{
    color: #BDEBEA;
    
}